/* Dark Theme */
.dark-theme {
  --primary-color: #007bff;
  --background-color: #333;
  --text-color: #f5f5f5;
  --secondary-color: #6c757d;
  --accent-color: #ffc107;
  --header-background-color: #222;
}
